<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Variant DB</title>{% endblock %}

  <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">

</head>

<body>
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="{% static 'logo.png' %}" width="40" height="40"/> VarDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href ="{% url 'variant_new' %}">Variant</a>
              <a class="dropdown-item" href ="{% url 'gene_new' %}">Gene</a>
          </div>
      </ul>
        <form class="form-inline my-2 my-lg-0" action = "{% url 'search_results' %}" method = "get">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Enter Variant or Gene" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>
  {% endblock %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">

    {% block sidebar %}
        <ul class="sidebar-nav">
            <li><a href ="{% url 'variant_list' %}">All Variants</a></li>
            <li><a href ="{% url 'gene_list' %}">All Genes</a></li>
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login'%}">Login</a></li>
        {% endif %}
        </ul>
    {% endblock %}
  </div>
      <div class="col-sm-10 ">
          <br>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>