{%  extends 'vdb/base_generic.html' %}

{%  block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
<div class="container-fluid p-0" style="background-color: #ccffcc;">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" style="border: 0px; background-color: #ccffcc;">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
</div>
{% endif %}
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">CHR</th>
        <th scope="col">START</th>
        <th scope="col">REF</th>
        <th scope="col">ALT</th>
        <th scope="col">GENE</th>
        <th scope="col">BUILD</th>
        <th scope="col">HGVSC</th>
        <th scope="col">HGVSP</th>
        <th scope="col">SCORE</th>
        <th scope="col">CREATED BY</th>
        <th scope="col">UPDATED BY</th>
    </tr>
    </thead>
    <tr>
        <td>{{ variant.chr }}</td>
        <td>{{ variant.start }}</td>
        <td>{{ variant.ref }}</td>
        <td>{{ variant.alt }}</td>
        <td>{{ variant.gene }}</td>
        <td>{{ variant.build }}</td>
        <td>{{ variant.hgvsc }}</td>
        <td>{{ variant.hgvsp }}</td>
        <td>{{ variant.score }}</td>
        <td>{{ variant.created_by }}</td>
        <td>{{ variant.updated_by }}</td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th scope="col">EVIDENCE</th>
            <th scope="col">DESCRIPTION</th>
        </tr>
    </thead>
    {% for dictionary in ACMG %}
    <tr>
        <td>{{ dictionary.evidence }}</td>
        <td>{{ dictionary.description }}</td>
    </tr>
    {%  endfor %}
</table>
</body>

<a href="{% url 'variant_update' pk=variant.id %}">Edit variant details</a>

{% endblock %}
